.background {
    background-color: rgb(225, 225, 225);
}

.nav-container {
    font-family: "Campton Book",Arial,sans-serif;
    font-size: 12px;
    background:#f6f6f6;
    height: auto;
    text-transform: uppercase;
    padding: 5px;
}

.button {
    width : 80px;
    text-align: center;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    color: rgb(95, 95, 95);
}

a:hover {
	color:purple;
}

.button:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    color: rgb(75, 75, 75);
    text-decoration: none;
    font-weight: bold;
    cursor:pointer;
}

@media screen and (min-width: 1200px){
    .post-box {
        display: flex;
        vertical-align: middle;
        background:#efefef;
        width: 32%;
        margin: 5 auto;
        padding: 3px;
    }
}

@media screen and (min-width: 800px) and (max-width:1200px){
    .post-box {
        display: flex;
        vertical-align: middle;
        background:#efefef;
        width: 48%;
        margin: 5 auto;
        padding: 3px;
    }
}

@media screen and (max-width:800px){
    .post-box {
        display: flex;
        vertical-align: middle;
        background:#efefef;
        width: 99%;
        margin: 5 auto;
        padding: 3px;
    }
}